body{
   
}

.firstdiv{
    background-color: #363062;
    height: 40rem;
    color: white;
    padding: 110px 60px 20px 110px;
    text-align: left;
}

.seconddiv{
    background-color: #4d4c7d;
    color: white;
    padding: 40px 60px 20px 110px;
}

.thirddiv{
    background-color: #827397;
    height: 300px;
    padding: 110px 60px 20px 110px;
    color: white;
}

.fouthdiv{
    background-color: #d8b9c3;
    padding: 60px;
}

.landingimg{
    position: relative;
    left: 45rem;
    bottom: 8rem;
}

.spacingnav{
    padding: 8px 100px 8px 110px;
}

.myjpg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1.5rem;
}

span{
    vertical-align: left;
  }

.backinfo{
    background-color: #4f5964;
    background-size: contain;
    color: white;
    padding: 50px;
    text-align: center;
    
  }

  /* .overlay {
    position: absolute;
    top: 1;
    z-index: 10;
    width: 740px;
    height: 372px;
    background: rgba(0,0,0,0.6);
    transform: skew(200.25deg);
    left: 300px;
  } */

